/* main color rgba(65, 53, 87, 1) */

main {
	background: linear-gradient(
		to right,
		transparent calc(100% - 1px),
		rgba(158, 158, 158, 0.3) 0
	);
	background-size: calc((100% - 5 * 1px) / 6 + 1px) 100%;
	/* background-color: #333; */
}

main {
	min-height: 80vh;
	overflow: hidden;
}

/* this will be the navbar css */
.test-header {
	/* height: 80px; */
	/* margin: 0 8rem; */
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	/* overflow: hidden; */
	/* background-color: aqua; */
	position: absolute;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

.computech-logo {
	justify-self: left;
	height: 2.5rem;
	width: 100%;
}

.search-bar {
	border-radius: 25px;
	height: 40px;
	width: 400px;
	display: flex;
	align-items: center;
}

.search-input {
	outline: none;
	border: 0;
	border-radius: 15px 0 0 15px;
	height: 100%;
	width: 80%;
}

.search-btn {
	outline: none;
	border: 0;
	border-radius: 0 15px 15px 0;
	background-color: rgba(65, 53, 87, 1);
	color: #fff;
	font-size: 15px;
	font-weight: bolder;
	height: 100%;
	width: 20%;
}

/* .search-bar {
	display: flex;
}

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

ACTIVE STATE -- MAKE SURE TO REMOVE THIS IF UNCOMMENTED
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	input {
		color: #f1f1f1;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #3d3d3d;
		box-shadow: 0 0 0 0.1em #3d3d3d inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
} */

.nav-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.nav-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: rgba(65, 53, 87, 1);
	text-decoration: none;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
	.nav-link {
		transition: none;
	}
}

/* HERO SECTION */

.hero {
	/* width: 100%;
	height: 100%; */
	/* display: flex; */
	position: relative;
	z-index: 0;
	/* min-height: 100vh; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

svg {
	float: top right;
	align-self: flex-end;
	justify-self: right;
	width: 60%;
	height: 100%;
	overflow: visible;
}

.hero-text {
	font-size: 2rem;
	color: blue;
	width: 40%;
	height: 100%;
	/* transform: translateX(30%); */
}

/*  */

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: #fff;
}

.carousel img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}
@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}
