/* main color rgba(65, 53, 87, 1) */
body {
	overflow-x: hidden;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

main {
	background: linear-gradient(
		to right,
		transparent calc(100% - 1px),
		rgba(158, 158, 158, 0.3) 0
	);
	background-size: calc((100% - 5 * 1px) / 6 + 1px) 100%;
	/* background-color: #333; */
}

main {
	min-height: 80vh;
	overflow: hidden;
}

/* this will be the navbar css */
.test-header {
	/* height: 80px; */
	/* margin: 0 8rem; */
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	/* overflow: hidden; */
	/* background-color: aqua; */
	position: absolute;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

.computech-logo {
	justify-self: left;
	height: 2.5rem;
	width: 100%;
}

.search-bar {
	border-radius: 25px;
	height: 37px;
	width: 340px;
	/* max-width: 40vw; */
	display: flex;
	/* grid-template-columns: 80% 20%; */
	align-items: center;
}

.search-input {
	outline: none;
	border: 0;
	/* border-radius: 5px 0 0 5px; */
	height: 100%;
	width: 80%;
	padding-left: 10px;
	margin-right: 10px;
	font-size: 18px;
	/* width: 80%; */
}

.search-btn {
	outline: none;
	border: 0;
	/* border-radius: 0 5px 5px 0; */
	background-color: rgba(65, 53, 87, 1);
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	height: 100%;
	width: 20%;
}

.nav-collapse {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* gap: 20px; */
	width: 100%;
	padding-left: 20px;
}

.nav-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: rgba(65, 53, 87, 1);
	text-decoration: none;
	font-weight: 600;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}

.mobile-nav-toggle {
	display: none;
}

@media (max-width: 1000px) {
	.test-header {
		/* display: block; */
		/* justify-content: flex-start; */
		align-items: flex-start;
		/* position: relative; */
	}
	.nav-collapse {
		display: flex;
		/* display: none; */
		/* position: sticky; */
		flex-direction: column;
		justify-content: center;
		/* align-items: flex-end; */
		background: rgba(204, 0, 0, 0.1);
		backdrop-filter: blur(2rem);
		width: fit-content;
		padding: 20px;
		gap: 10px;
		padding-top: 3.5rem;
		/* height: max-content; */
		/* transform: translateY(50px); */
		/* z-index: 10000; */
		transform: translateX(110%);
	}
	.primary-navigation[data-visible="true"] {
		transform: translateX(0%)
	}
	.nav-right {
		display: block;
	}
	.computech-logo {
		align-self: flex-start;
		justify-self: flex-end;
		position: absolute;
		/* align-items: flex-start; */
		left: -50%;
		transform: translateX(100px);
	}
	.mobile-nav-toggle {
		display: block;
		position: absolute;
		z-index: 9999;
		background: url("icon-hamburger.svg");
		background-repeat: no-repeat;
		width: 2rem;
		border: 0;
		aspect-ratio: 1;
		top: 2rem;
		right: 2rem;
	}
}

.post-nav {
	margin-top: 70px;
}
.force-post-nav {
	transform: translateY(70px);
}
.main-padding {
	margin: 42px;
}

/* HERO SECTION */

.hero {
	/* width: 100%;
	height: 100%; */
	/* display: flex; */
	position: relative;
	z-index: 0;
	/* min-height: 100vh; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.main-hero-svg {
	float: top right;
	align-self: flex-end;
	justify-self: right;
	width: 60%;
	height: 100%;
	overflow: visible;
}

.hero-txt {
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.hero-text {
	font-size: 3.5vw;
	color: rgba(65, 53, 87, 1);
	padding: 0;
	margin: 0;
	/* transform: translateX(30%); */
	width: 35vw;
	font-weight: 900;
	font-family: "Poppins";
	text-transform: none;
	letter-spacing: normal;
}

@media (max-width: 700px) {
	.hero {
		flex-direction: column;
	}
	.main-hero-svg {
		width: 100%;
	}
	.hero-txt {
		width: 100%;
	}
	.hero-text {
		width: 90%;
		font-size: 9vw;
		margin: 40px 0px 100px 0px;
		text-align: center;
	}
}

.main-footer-txt {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(15vw);
}

.main-footer-svg {
	width: 100%;
	height: 100%;
	/* height: 1000px;
	background-image: url("main-footer.svg");
	background-repeat: no-repeat;
	background-size: contain; */
}

@media (max-width: 700px) {
	.main-footer-svg {
		/* background-image: url("mian-footer-mobile.svg"); */
	}
}

/*  */

h3 {
	padding: 1rem 0;
}

h1 {
	font-size: 1.8rem;
	padding: 1rem 0;
}

h2 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
}

.rating span {
	margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: #fff;
}

.carousel img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}
@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}
